@import './variables.scss';

$buttonBg: rgba($color: #000000, $alpha: .9);
$buttonShadow: 0 0 4px 1px $mainColor;

.menu {
  position: absolute;
  height: 100%;
  width: 100%;
}
.menu__btn {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $buttonBg;
  transform: translate(-140%, -50%);
  box-shadow: $buttonShadow;
  transition: .4s;
  border: none;
  outline: none;
  cursor: pointer;
  .menu__btn-icon {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    background: rgba($color: #ffffff, $alpha: .8) url('../image/menu.svg') center / cover no-repeat;
    border-radius: 8px;
    transition: .4;
  }
  .menu__btn-title {
    position: absolute;
    color: $mainColor;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s;
    text-shadow: 0 1px 1px $secondColor;
    font-size: 20px;
  }
  &:hover {
    box-shadow: 0 0 4px 1px $secondColor;
    .menu__btn-icon {
      background-color: rgba($color: $secondColor, $alpha: .5);
    }
    .menu__btn-title {
      opacity: 1;
      transform: translate(60px, -50%);
    }
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.menu__item {
  position: relative;
  display: flex;
  box-shadow: $buttonShadow;
  border-radius: 1px;
  width: 40%;
  height: 50px;
  margin: 10px;
  background: $buttonBg;
  text-shadow: 0 1px 1px white;
  cursor: pointer;
  &:hover {
    text-shadow: 0 2px 2px $secondColor;
    box-shadow: 0 0 4px 1px $secondColor;
    transition: .4s;
  }
  &:nth-child(1) {
    left: -45%;
  }
  &:nth-child(2) {
    left: -50%;
  }
  &:nth-child(3) {
    left: -55%;
  }
  span {
    display: block;
    margin: auto;
    text-transform: uppercase;
  }
}